<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">

<dom-module id="app-temas">
  <template>
    <style>

      paper-dialog{
        text-align: left;
        width: 800px;
        height: auto;
      }
      paper-fab.label {
        font-size: 20px;
      }
    </style>

    <firebase-auth user="{{user}}"></firebase-auth>

    <firebase-query
      id="query"
      path="/users/[[user.uid]]/temas"
      data="{{temas}}">
    <firebase-query>

    <div id="card">
      <div id="templates" hidden$="[[!user]]">
          <template is="dom-repeat" items="[[temas]]" as="tema">
          <p>[[tema.pregunta]]</p>
          </template>

        <paper-fab icon="favorite" onclick="scrolling.open()"></paper-fab>

        <paper-dialog id="scrolling">
          <form method="post">
            <h2>Tema Nuevo</h2>
            <paper-dialog-scrollable>
              <paper-dropdown-menu label="Tipo de tema">
                <paper-listbox class="dropdown-content" selected="{{tipoTema}}">
                  <paper-item>Desarrollo</paper-item>
                  <paper-item>Seleccion Multiple</paper-item>
                  <paper-item>Seleccion Unica</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>

              <paper-input id="input" label="Description del tema"></paper-input>

              <template is="dom-if" if="[[_tieneItems(tipoTema)]]">
                <h3>Respuestas:</h3>
                  <template is="dom-repeat" items="{{respuestas}}" as="respuesta">
                    <div class="horizontal layout">
								        <p>[[respuesta]]</p>
								        <paper-icon-button icon="icons:delete" on-tap="borrarRespuesta"></paper-icon-button>
							      </div>
			            </template>
                  <paper-input value={{valor}} label="Description de la respuesta"></paper-input>
                  <paper-button on-tap="_agregarRespuesta">Add</paper-button>
              </template>
            </paper-dialog-scrollable>
            <div class="buttons">
              <paper-button dialog-dismiss>Cancelar</paper-button>
              <paper-button dialog-confirm autofocus on-tap="_agregarTema">Aceptar</paper-button>
            </div>
          </form>
        </paper-dialog>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'app-temas',

      properties: {
        tipoTema: {
          type: Number,
          value:0,
          notify: true
        },
        valor: {
          type: String,
          value:""
        },
        respuestas: {
          type: Array,
          value:[]
        }

      },
      _tieneItems: function(tipoTema){
        if(tipoTema==0)
          return false;
        return true;
      },
      _agregarRespuesta: function(){
        this.push('respuestas', this.valor);
        this.valor="";
      },
      _agregarTema: function(){
        if (this.tipoTema==0){
          this.$.query.ref.push({
            pregunta: this.$.input.value,
            tipo: "Desarrollo",
          });
        }else if(this.tipoTema==1){
          this.$.query.ref.push({
            pregunta: this.$.input.value,
            tipo: "Seleccion Multiple",
            respuestas: this.respuestas
          });
        }else if (this.tipoTema==2) {
          this.$.query.ref.push({
            pregunta: this.$.input.value,
            tipo: "Seleccion Unica",
            respuestas: this.respuestas
          });
        }
        this.$.input.value=null;
        this.respuestas=[];
        this.tipoTema=0;
      }
    });
  </script>

</dom-module>

<!-- addTema: function() {
  this.push('temas', this.$.input.value);
  console.log(this.temas);
  this.$.input.value=null;
},

-->
