<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">

<dom-module id="app-login">
  <template>
  <style is="custom-style">
  body {
    /* No margin on body so toolbar can span the screen */
    margin: 0;
  }
  app-toolbar {
    /* Toolbar is the main header, so give it some color */
    background-color: #1E88E5;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
    --app-toolbar-font-size: 24px;
  }
  </style>
    <firebase-auth
      id="auth"
      user="{{user}}"
      provider="google"
      status-known="{{statusKnown}}">
    </firebase-auth>

    <template is="dom-if" if="[[user]]">
      <app-toolbar>
        <paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
        <div main-title>Welcome [[user.displayName]]</div>
    </app-toolbar>
    <demo1></demo1>
    </template>


    <paper-button raised on-tap="login" hidden$="[[user]]">Ingresar</paper-button>

    <paper-button raised on-tap="logout" hidden$="[[!user]]">Sing Out</paper-button>
  </template>

  <script>
    Polymer({
      is: 'app-login',
      properties:{
        user:{
          type: Object
        },
        statusKnown:{
          type: Object
        }
      },
      login: function(){
        return this.$.auth.signInWithPopup();
      },
      logout: function(){
        return this.$.auth.signOut();
      }
    });
  </script>
</dom-module>
