<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">

<dom-module id="app-templates">
  <template>
    <firebase-auth user="{{user}}"></firebase-auth>

    <firebase-query
      id="query"
      path="/users/[[user.uid]]/templates"
      data="{{templates}}">
    <firebase-query>

      <template is="dom-repeat" items="[[templates]]" as="template">
      <p>[[template.$key]]</p>
      </template>

      <paper-input id="input" label="Description del template"></paper-input>
      <paper-button on-tap="_agregarTemplate">Add</paper-button>

  </template>

  <script>
    Polymer({
      is: 'app-templates',
      _agregarTemplate: function(){
        this.$.query.ref.push({
          descripcion: this.$.input.value,
        });
        this.$.input.value=null;
      }
    });
  </script>
</dom-module>
