<link rel="import" href="../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="app-login.html">
<link rel="import" href="app-temas.html">
<link rel="import" href="app-templates.html">

<dom-module id="my-apps">
  <template>
    <firebase-app
      id="firebase"
      auth-domain="nemudari-f7bce.firebaseapp.com"
      database-url="https://nemudari-f7bce.firebaseio.com/"
      api-key="AIzaSyBPMSAnvp4vGn0OQRDnifILiUvgBip0ymY">
    </firebase-app>

    <app-login></app-login>
    <app-temas></app-temas>
    <app-templates></app-templates>

  </template>

  <script>
  Polymer({
    is:'my-apps'
  });
  </script>
</dom-module>
